@import "variables";
.main-footer {
  background: $footer-main-bg;
  
  a {
    color: $link-color;
  }
  .main-footer__badge {
    position: unset;
  }
}

.mini-footer{
  background: $footer-mini-bg;
  
  a {
    color: $link-color;
  }

}