<div class="watch-video text-right">
  <button id="conference-video-modal-button" class="button button__lg button__secondary" data-dialog-open="conference-video-modal">
    <%= t(".show_video") %>
  </button>
</div>

<%= decidim_modal id: "conference-video-modal" do %>
  <div data-dialog-container>
    <div class="mt-8 responsive-embed widescreen w-full aspect-video">
      <iframe class="w-full h-full" width="1280" height="720" src="<%= src %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
<% end %>

<% content_for(:js_content) do %>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const localStorageKey = "watched-conference-video";
      const modal = document.getElementById("conference-video-modal");
      const modalButton = document.getElementById("conference-video-modal-button");
      const modalContent = document.getElementById("conference-video-modal-content");
      const closeButtons = modal.querySelectorAll("[data-dialog-close]");
      const iframe = modal.querySelector("iframe");
      const originalSrc = iframe.src;

      function playVideo() {
        iframe.src = `${originalSrc}?autoplay=1&mute=1`
      }

      function resetIframe() {
        localStorage.setItem(localStorageKey, "true");
        iframe.src = "";
        iframe.src = originalSrc;
      }

      setTimeout(() => {
        if (!localStorage.getItem(localStorageKey)) {
          modalButton.click();
        }
      }, 500);

      modalButton.addEventListener("click", () => {
        playVideo();
      });

      closeButtons.forEach(btn => {
        btn.addEventListener("click", () => {
          resetIframe();
        });
      });

      modal.addEventListener("click", (event) => {
        if (!modalContent.contains(event.target)) {
          resetIframe();
        }
      });
    });
  </script>
<% end %>
